body{
    padding:0px;
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    background:linear-gradient(#f3cda9,#774836);
    height:40px;
    box-shadow:0px 6px 8px #cccccc;
}

#app-title{
    float:left;
    width:250px;
    padding-top:5px;
    padding-bottom:5px;
    line-height:30px;
}

#app-title a{
    text-decoration:none;
    color:#ffffff;
}
#app-title a:hover{
    color:#dddddd;
}

#search-field-box{    
    padding-top:1px;
    padding-bottom:1px;
    line-height:35px;
}

#search-field{
    width:400px;
}

#sidebar{
    width:200px;
    float:bottom;
    /*border-right:1px solid #f0f0f0;*/
    float:left;
    min-height:90%;
}

#content{
/*    border:1px solid #cccccc;*/
    float:left;
    padding-top:10px;
    width:84%;
    min-height:90%;
}

#sidebar li{
    text-decoration:none;
    display:block;
    padding-top:15px;
}

#sidebar a{
    text-decoration:none;
    color:#666666;
    font-size:large;
}

#sidebar a:hover{
    color:black;
}

#footer{
    text-align:center;
    font-size:small;
    float:none;
    clear:left;/*to clear float*/
    color:#666666;
    text-decoration:none;
}

#footer a{
    text-decoration:none;
    color:#666666;
}


/* BOF menu dan sub menu*/
.sub-menu{
	width: 200px;
	height: 150px;
	border: solid 1px #f0f0f0;
	border-radius: 10px;
	float: left;
	background-color: #fff;
	margin-left:5px;
	margin-top: 15px;
	margin-right:3px;
	color: #000;
	padding: 5px;
	box-shadow:4px 4px 8px #cccccc;
}
.sub-menu img{
	width: 100px;
	height: 100px;
}
.sub-menu:hover{
	background-color: #f0f0f0;
}

.sub-menu-tables{
	width: 200px;
	height: 100px;
	border: solid 1px #f0f0f0;
	border-radius: 10px;
	float: left;
	background-color: #fff;
	margin-left:5px;
	margin-top: 15px;
	margin-right:3px;
	color: #000;
	padding: 2px;
	box-shadow:4px 4px 8px #cccccc;
}
.sub-menu-tables img{
	width: 50px;
	height: 50px;
}
.sub-menu-tables:hover{
	background-color: #f0f0f0;
}
/* EOF menu dan sub menu*/


#dasbor-logo{
    text-align:center;
    padding:10px;
}

#image-logo{
    /*border:1px solid #666666;
    border-radius:10px;*/
    width:300px;
}

.form-input label{
    width:100px;
    display:inline-block;
    text-align:right;
}

.form-input .elementry{
    padding:1px;
}

.txcenter{
    text-align:center;
}

.txright{
    text-align:right;
}

.table-data{
    width:100%;
    border-collapse:collapse;
    background-color:white;
}

.table-data th{
    border:1px solid #f0f0f0;
    background:linear-gradient(#ffffff,#f0f0f0);
}
.table-data td{
    padding:2px;
    margin:0px;
    border:1px solid #f0f0f0;
}

.table-data tr:hover{
    background-color:#f0f0f0;
}

.table-data th, td{
    font-size:small;
}

#id-notice-content{
    color:#007744;
    font-size:small;
    background-color:#f0f0f0;
    border:1px solid #d0d0d0;
    text-align:center;
}

.edit-data-table{
/*    background-image:url('../images/edit.png');*/
    margin:2px;
}
.delete-data-table{
/*    background-image:url('../images/delete.png');*/
}

.data-view{
    height:400px;
    width:100%;
    overflow:auto;
    border:1px solid #d0d0d0;
    box-shadow:3px 3px 4px #cccccc;
    margin-bottom:10px;
}

#meja-order{
    width:100%;
}

.mo-content{    
    padding:0px;
    margin:0px;
    border-radius:5px;
}

#mo-menu{
    float:left;
    width:43%;
    border:0px solid aqua;
}

#mo-draft{
    float:right;
    width:55%;
    border:0px solid red;
}

#id_data_order{
    width:65%;
    float:left;
    margin-right:15px;
}

#id_data_payment{
    width:33%;
    float:left;    
}

.table-report{
    margin-top:10px;
    margin-bottom:30px;
}
