.box{
    width:250px;
    float:left;
    
    border:0px solid gray;
    margin-right:2px;
    background-color:white;
    /*min-height:250px;*/
    
}

.grid{
    
    
}

.grid-item {
    width: 300px;
    border:0px solid gray;
    margin-right:2px;
    background-color:white;
    margin-bottom:5px;
}

.title{
    text-align:center;
    font-weight:bold;
    color:white;
    background-color:gray;
}
.menux{
    padding:0px;
    background-color:white;
}

.tbl{
    border-collapse:collapse;
    width:100%;
}

.tx-center{
    text-align:center;
}

.theader{
    background-color:#ddd;
    color:white;
}

.tx-right{
    text-align:right;
}

.minum{
    color:#333;
}

.makan{
    color:black;
}

.baru{
    background-color:#ccf;
}

.icon{
    width:20px;
}
